<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <div>
            Email : <input type="email" name="email" value="">
        </div>
       <div>
            Username : <input type="text" name="username" value="">
       </div>
        <div>
            Password : <input type="password" name="password" value="">
        </div>
        <div>
            Name : <input type="text" name="name" value="">
        </div>
        <div>
            Tel No : <input type="text" name="tel" value="">
        </div>
        <div>
            Birthday : <input type="date" name="birthdate">
        </div>
        <div>
            <input type="submit" name="register" value="Login">
        </div>
    </form>
</body>
</html>