<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <!-- responsive style -->
  <link th:href="@{/css/responsive.css}" rel="stylesheet" />
  <title>Reservation Form</title>
</head>
<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/u/">
                              <span>
                                Event Hall Management System
                              </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/u/home">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/u/hall">
                Hall
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/u/about">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/u/location">
                Location
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/u/news">
                News
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>
  <!-- end hero area -->
  <br>
  <br>
  <section>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Reservation Details</h2>
      </div>
    </div>
  </section>


  <!-- alert section -->
  <section class="saving_section" th:if="${message}">
    <br>
    <div class="box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="detail-box">
              <div class="heading_container">
                <h2 th:text="${message}"></h2>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- alert section -->


  <section th:if="${reservation}">
    <p th:text="${reservation.id}"></p>
    <p th:text="${reservation.title}"></p>
    <p th:text="${reservation.purpose}"></p>
    <p th:text="${reservation.dateStart}"></p>
    <p th:text="${reservation.dateEnd}"></p>
    <p th:text="${reservation.note}"></p>
    <p th:text="${reservation.hall.id}"></p>
    <p th:text="${reservation.hall.hallName}"></p>
    <p th:text="${reservation.hall.location}"></p>
    <p th:text="${reservation.hall.size}"></p>
    <p th:text="${reservation.hall.capasity}"></p>
    <p th:text="${reservation.hall.manager.name}"></p>
    <p th:text="${reservation.hall.manager.email}"></p>

    <a th:href="@{/u/event/form/__${reservation.id}__}">Add Event for this hall</a>

  </section>

  <section th:if="${events}">
    <table>
      <thead>
        <tr>
          <td>Event Name</td>
          <td>Date Start</td>
          <td>Date End</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="event : ${events}">
          <td th:text="${event.eventName}"></td>
          <td th:text="${event.startDate}"></td>
          <td th:text="${event.endDate}"></td>
          <td><a>View Event</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- footer section -->
  <footer class=" footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script th:src="@{/js/custom.js}"></script>
</body>
</html>