<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.rtl.css}" rel="stylesheet">
  <link th:href="@{/css/bootstrap.rtl.min.css}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <title></title>
</head>
<body>
<div class="container">
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none" th:href="@{/u/home}"><h3>Event Hall Management System</h3></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <form method="post" th:action="@{/logout}">
          <input type="submit" name="logout" value="Logout" class="btn btn-sm btn-outline-secondary">
        </form>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis" th:href="@{/u/home}">Home</a>
      <a class="nav-item nav-link link-body-emphasis" th:href="@{/u/reservation/list}">Reservations</a>
      <a class="nav-item nav-link link-body-emphasis" th:href="@{/u/hall}">Halls</a>
      <a class="nav-item nav-link link-body-emphasis" th:href="@{/u/about}">About</a>
      <a class="nav-item nav-link link-body-emphasis" th:href="@{/u/news}">News</a>
    </nav>
  </div>
</div>
<main class="container">
  <h2 class="pt-2 text-center">
    Reservation Details
  </h2>
  <hr class="my-5">
  <div th:if="${message}" class="alert alert-primary" role="alert">
    <p th:text="${message}"></p>
  </div>
  <div th:if="${reservation}" class="container">
    <table class="table table-dark table-borderless">
      <tbody>
      <tr>
        <th>#</th>
        <td th:text="${reservation.id}"></td>
      </tr>
      <tr>
        <th>Title</th>
        <td th:text="${reservation.title}"></td>
      </tr>
      <tr>
        <th>Purpose</th>
        <td th:text="${reservation.purpose}"></td>
      </tr>
      <tr>
        <th>Reservation Date</th>
        <td th:text="${reservation.dateStart}"></td>
      </tr>
      <tr>
        <th>End Date</th>
        <td th:text="${reservation.dateEnd}"></td>
      </tr>
      <tr>
        <th>Note</th>
        <td th:text="${reservation.note}"></td>
      </tr>
      <tr>
        <th>Hall Name</th>
        <td th:text="${reservation.hall.hallName}"></td>
      </tr>
      <tr>
        <th>Location</th>
        <td th:text="${reservation.hall.location}"></td>
      </tr>
      <tr>
        <th>Size</th>
        <td th:text="${reservation.hall.size}"></td>
      </tr>
      <tr>
        <th>Capacity</th>
        <td th:text="${reservation.hall.capasity}"></td>
      </tr>
      <tr>
        <th>Manager Name</th>
        <td th:text="${reservation.hall.manager.name}"></td>
      </tr>
      <tr>
        <th>Manager Email</th>
        <td th:text="${reservation.hall.manager.email}"></td>
      </tr>
      </tbody>
    </table>
    <div class="container text-center">
      <h4 class="pt-2">
        Event
      </h4>
      <hr class="my-5">
      <a th:href="@{/u/event/form/__${reservation.id}__}" class="btn btn-primary mb-5">
        Add Event for this reservation
      </a>
      <div th:if="${events}" class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <td>Event Name</td>
            <td>Date Start</td>
            <td>Date End</td>
            <td>Options</td>
          </tr>
          </thead>
          <tbody>
          <tr th:each="event : ${events}">
            <td th:text="${event.eventName}"></td>
            <td th:text="${event.startDate}"></td>
            <td th:text="${event.endDate}"></td>
            <td><a th:href="@{/u/event/__${event.id}__}" class="btn btn-primary rounded-pill px-3 py-0">View Event</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:unless="${events}" class="alert alert-primary" role="alert">
        <p>No Events in this reservation</p>
      </div>
    </div>
  </div>
</main>
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <p>Template built by Bootstrap</a></p>
  <p class="mb-0">
    <a href="#">Back to top</a>
  </p>
</footer>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script></body>


</body>
</html>