<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
    <title>Reservation Success</title>
</head>
<body>
    <br>
    <br>
    <br>
    <!-- success section -->

    <section class="saving_section ">
        <div class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    Reservation Success
                                </h2>
                            </div>
                            <p>
                                Vulputate odio ut enim blandit volutpat.
                                At consectetur lorem donec massa sapien
                                faucibus et. Pellentesque nec nam aliquam
                            </p>
                            <div class="btn-box">
                                <a onclick="" class="btn1">
                                    View all your reservation
                                </a>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end success section -->
    <!-- footer section -->
    <footer class=" footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script th:src="@{/js/custom.js}"></script>
</body>
</html>