<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet" />
    <title>Reservation Form</title>
</head>
<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/u/">
                        <span>
                          Event Hall Management System
                        </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>

                <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/u/home">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/hall">
                                Hall
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/about">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/location">
                                Location
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/u/news">
                                News
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- end header section -->
    </div>
    <!-- end hero area -->
    <br>
    <br>
    <div th:if="${hall}">
        <section>
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 th:text="${hall.hallName}"></h2>
                </div>
            </div>
        </section>

        <!-- detail section -->
        <section class="contact_section layout_padding">
            <div class="container container-bg">
                <div class="row">
                    <div class="col-lg-7  col-md-6 px-0">
                        <div class="img-box">
                            ==Hall Image==
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 px-0">
                        <div class="detail-box">
                            <span></span><p th:text="'Location : ' + ${hall.location}"></p>
                            <p th:text="'Size : '+ ${hall.size}"></p>
<!--                            <p th:text="'Around ' + ${hall.capacity} + ' people'"></p>-->
                        </div>
                        <div class="detail-box">
                            <p>
                                Contact hall manager for more info<br>
                                <span th:text="${hall.manager.name}"></span><br>
                                <span th:text="${hall.manager.email}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end detail section -->

        <!-- form section -->
        <section class="contact_section layout_padding">
            <section th:if="${message}" class="alerts alerts d-flex justify-content-center">
                <div class="box">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="detail-box">
                                    <div class="heading_container">
                                        <h4 th:text="${message}"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container container-bg">
                <div class="row">
                    <div class="col-md-6 col-lg-5 px-0">
                        <form th:action="@{/u/reservation/attemptreserve/__${hall.id}__}" method="post">
                            <div>
                                Title: <input type="text" name="title" required>
                            </div>
                            <div>
                                Purpose : <br>
                                <span>eg : wedding, talent show, launching product, etc</span>
                                <input type="text" name="purpose" required>
                            </div>
                            <div>
                                Date Start: <input id="rstartdate" type="date" name="dateStart" onchange="getYear()" required>
                            </div>
                            <div>
                                Date End : <input id="renddate" type="date" name="dateEnd" required>
                            </div>
                            <div>
                                Note : <textarea name="note"></textarea>
                            </div>
                            <div class="d-flex">
                                <input type="submit" value="Submit Hall Reservation">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7  col-md-6 px-0">
                        <div class="img-box">
                            ==Hall Image==
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end form section -->
    </div>

    <!-- no hall section -->
    <section class="saving_section" th:if="${message}">
        <br>
        <div class="box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2 th:text="${message}"></h2>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- no hall section -->


    <!-- footer section -->
    <footer class=" footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>